.Header{
    height: 70px;
    width: 60%;
    background-color: rebeccapurple;
    margin: auto;
    margin-top: 20px;

}
.HeadinInfo:nth-child(1){
    width: 13.5% !important;
}
.HeadinInfo:nth-child(3){
    width: 38% !important;
}
.HeadinInfo:nth-child(4){
    width: 16.5% !important;
    margin-left: -80px;
}
.HeadinInfo{
    color: white;
    float: left;
    height: 100%;
    width:26%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}